    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Helvetica;
    }

    :root {
        --dark_purple: #30011e;
        --tea_green: #d7fcd4;
        --celadon: #b6cca1;
        --drak_goldenrod: #b68f40;
        --gray: #545454;
    }

    body {
        height: 100vh;
        background-color: var(--dark_purple);
        color: var(--dark_purple);
        display: flex;
        justify-content: center;
        font-size: 25px;
    }

    p {
        font-weight: bold;
    }

   input, select{
        padding: 0.25rem 0.5rem;
       border: 2px solid var(--dark_purple);
       outline: none;
    }

    input::placeholder {
        color: var(--dark_purple);
    }

    i {
    pointer-events: none;
    }

    .template {
        display: none !important;
    }

    button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.3rem 0.6rem;
        cursor: pointer;
        background-color: aliceblue;
        border: 2px solid var(--dark_purple);
        font-size: 1rem;
    }

    button:hover {
        transition: .2s;
        background-color: #30011e;
        color: white;
    }

    #container {
        max-width: 450px;
        margin-top: 40px;
        margin-bottom: 40px;
        background-color: var(--drak_goldenrod);
        border-radius: 10px;
        padding: 1.5rem;
    }

    #todo-header {
        padding: 0rem 1rem 1rem 1rem;
        border-bottom: 1px solid var(--dark_purple);
    }

    #todo-form, #edit-form{
        padding: 1rem;
    }

    #edit-form #cancel-btn {
        margin-top: 0.5rem;
    }

    .hide {
        display: none !important;
    }

    .form-control {
        margin-top: 10px;
        display: flex;
        height: 2rem;
    }
    
    .form-control input {
        width: 50%;
    }

    .form-control button {
        margin-left: .5rem;
        width: 10%;
    }

    #toolbar {
        padding: 1rem;
        border-top: 1px solid var(--dark_purple);
        border-bottom: 1px solid var(--dark_purple);
        display: flex;
    }

    #filter-container p, #search-container p{
        margin-bottom: .5rem;
    }

    #search-container {
        display: flex;
        flex-direction: column;
        width: 60%;
        border-right: 1px solid var(--dark_purple);
    }

    #search-container form {
        display: flex;
        height: 100%;
        padding-right: 0.5rem;
    }

    #search-container input {
        width: 100%;
    }

    #search-container form button {
        margin-left: 0.5rem;
    }

    #filter-container {
        display: flex;
        flex-direction: column;
        padding-left: 0.5rem;
        width: 40%;
    }

    #filter-selector {
        flex:1;
    }

    .todo {
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        margin: 15px 0px;
        border-bottom: 1px solid var(--dark_purple);
        transition: .3s;
        word-break: break-all;
    }

    .todo h3{
        font-weight: normal;
        font-size: 20px;
        flex: 1;
    }

    .todo button {
        margin-left: .4rem;
    }

    .done{
        background-color: var(--dark_purple);
        color: var(--drak_goldenrod);
    }

    .done h3{
        text-decoration: line-through;
    }


    @media (max-width: 500px){
        #container {
            width: 100%;
            border-radius: 0px;
        }

        .form-control input {
            width: 80%;
        }

        .form-control button {
            width: 20%;
        }
    }